<section class="hero">
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="hero__content text-center">
      <div class="hero__portrait">
        <div class="hero__arch"></div>
        <img class="hero__photo" src="assets/images/me.png" alt="Portrait of Hristina Sekuloska" />
      </div>
      <h1 class="hero__name">Hristina Sekuloska</h1>
      <div class="hero__role">SOFTWARE ENGINEER</div>
      <div class="hero__skills">Angular • C# • Jira</div>
    </div>
  </div>
</section>
